*{
	margin: 0;
}

body{
	background-color: rgb(38, 35, 35);
	color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

#menu ul li a{
	text-decoration: none;
	font-size:large;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	width: 100%;
  color:white;
}
#menu ul li a:hover{
  color:rgba(0, 215, 68)
}


#menu ul{
	justify-content: space-evenly;
	align-items: center;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	padding: 15px 10px;
}

#head{
	padding: 23px;
	font-size: bold;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	color: rgb(0, 255, 217);
  
}

.hero{
	display: flex;
	justify-content: space-evenly;
	align-items: end;
	flex-direction: row;
	width: 100%;
}
.img{
	display: flex;
	justify-content: center;
	align-items: center;
}
.img img {
  	max-height:650px ;
  	max-width: 620px;
  	border-radius: 1rem;
}

.old,.new{
	padding: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.4em;
	min-width: 200px;
	margin: 5px;
	color: white;
	letter-spacing: 1px;
    height: 100%;
}

.progress{
 	display: flex;
 	justify-content: center;
 	align-items: flex-start;
  	gap: 3rem;
  	margin-top: 2rem;
  	flex-wrap: wrap;
}

.count {
    font-size: 1.4rem;
    font-weight: bold;
    color: #222;
}
 .chart-container {
	padding: 1rem;
	box-shadow: 0 3px 10px rgba(171, 157, 157, 0.15);
	align-items: center;
	justify-self: center;
	display: flex;
}

/* Tablets (769px - 1200px) */
@media (max-width: 1200px) {
  .progress {
    gap: 2rem;
  }
  .chart-container {
    width: 80% !important;
    max-width: 500px;
  }
}

/* Mobile (max 768px) */
@media (max-width: 768px) {
  #menu ul {
    flex-direction: column;
    gap: 0.8rem;
	align-items: flex-start;
	display: block;
	transition: all 0.3s ease-in-out;
  }

  #head h1 {
    font-size: 1.5rem;
  }

  .login {
    padding: 1.2rem;
  }

  .form-container .part {
    flex-direction: column;
    align-items: stretch;
  }

  .form-container input[type="date"] {
    width: 100%;
  }

  .progress {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .chart-container {
    width: 100% !important;
    max-width: 350px;

  }

  .count {
    font-size: 1.2rem;
  }
}
